{#
/**
 * @file
 * Theme override to display a menu using Bootstrap 5 navbar.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% if menu_level == 0 %}
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% for item in items %}
                                {% set classes = [
                  'nav-item',
                  item.is_expanded ? 'dropdown',
                  item.is_collapsed ? 'collapsed',
                  item.in_active_trail ? 'active',
                ] %}
                                <li{{item.attributes.addClass(classes)}}>
                                    {% if item.is_expanded and item.below %}
                                        <a href="{{ item.url }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">{{ item.title }}</a>
                                        <ul class="dropdown-menu">
                                            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                                        </ul>
                                    {% else %}
                                        <a href="{{ item.url }}" class="nav-link{{ item.in_active_trail ? ' active' }}">{{ item.title }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% else %}
            {% for item in items %}
                <li{{item.attributes.addClass('dropdown-item')}}>
                    <a href="{{ item.url }}">{{ item.title }}</a>
                    {% if item.below %}
                        {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}

