{# siteheader #}
{{ page.header }}
{# siteheader #}

{# menu #}
{{ page.menu }}
{# menu #}

{{ drupal_block('hero_section', wrapper=false) }}

<div class="container"> {# Header + CTA on the same row #}
    {# Content columns #}
    <div class="row g-4">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-8">
                    {{ drupal_view('latest_news') }}
                </div>
                <div class="col-lg-4">
                    {{ drupal_view('latest_news_list') }}
                </div>
                <div class="col-lg-12">
                    <div class="d-flex justify-content-start mt-3">
                        <a href="{{ base_path }}actualites-du-ministere" class="btn btn-primary">Toutes les actualités</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            {{ drupal_view('alertes_sanitaires') }}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="mt-2 mb-4">
                Le Ministre
            </h2>
        </div>
    </div>
</div>

<div class="container">
    {{ drupal_block('the_minister') }}
</div>

<div class="bg-primary p-lg-5 p-2 py-5 mt-5">
    <div class="row mb-4">
        <div class="col-lg-12">
            <h2 class="mb-0 text-lg-center p-2" style="color: #D5F2FF;">Nos services et outils</h2>
            <p class="text-lg-center p-2 lead" style="color: #D5F2FF;">Découvrez nos différents services et outils dédiés à la santé publique</p>
        </div>
    </div>

<div class="container">
    <div class="row g-4">
                {# Left content: services list + button #}
                <div class="col-lg-12">
                    {{ drupal_view('services_featured_list') }}
                </div>

                <div class="d-flex justify-content-center justify-content-lg-end py-2">
                    <a href="" class="text-white text-decoration-underline">
                        Tous nos services et outils
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5 ">
    {{ drupal_view('video_news') }}
</div>

{{ page.footer }}

