{# siteheader #}
{{ page.header }}
{# siteheader #}

{# menu #}
{{ page.menu }}
{# menu #}

{% if not is_front %}
<div class="page-title-wrapper">
  <div class="container">
      {{ title_prefix }}
      {% if title %}
        <h1>{{ title }}</h1>
      {% endif %}
      {{ title_suffix }}
  </div>
</div>
{% endif %}

<main>
  <div class="container">
    <div class="row">

     <div class="mb-3">
            {{ content.field_image_principal_de_la_page }}
        </div>
        
        {{ page.content }}
    </div>
  </div>
</main>


{{ page.footer }}
