<div class="publications-page">
  <div class="container">
    <div class="row g-5">

      <div class="col-lg-3 mb-4 mb-lg-0 sticky-top border-right-column">
        {% if exposed %}
          <div class="publications-filters">
            {{ exposed }}
          </div>
        {% endif %}
      </div>

      <div class="col-lg-9">
        {% if header %}
          <div class="view-header mb-4">
            {{ header }}
          </div>
        {% endif %}

        {% if rows %}
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
            {{ rows }}
          </div>
        {% elseif empty %}
          <div class="alert alert-info">
            {{ empty }}
          </div>
        {% endif %}

        {% if pager %}
          <div class="mt-4">
            {{ pager }}
          </div>
        {% endif %}

        {% if footer %}
          <div class="view-footer mt-4">
            {{ footer }}
          </div>
        {% endif %}
      </div>

    </div>
  </div>
</div>
